@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

h1 {
  font-family: 'MedievalSharp'!important;
  font-weight: bold;
}

.navbar>.container {
  flex-wrap: nowrap;
}

main {
  height: 100vh;
}

.modal-header {
  border-bottom: 1px solid #212529;
}

.card-header {
  height: 40%;
}

h5 {
  font-weight: bolder;
  font-size: 1.8rem;
  font-family: 'MedievalSharp'!important;
}

h6 {
  font-family: 'MedievalSharp'!important;
  font-weight: bold;
  color: #ffc107;
}

.form-label,
.form-check-label {
  color: #212529;
  font-size: 1.3rem;
  font-family: 'MedievalSharp'!important;
}

.modal-footer {
  border-top: 1px solid #212529;
}

.btn-outline-success {
  color: beige;
}

button {
  font-family: 'MedievalSharp'!important;
}

.btn-outline-dark:hover {
  color: #ffc107;
}

#btn-add {
  position: fixed;
  bottom: 5%;
  right: 5%;
}